:root {
    --color-body: #141414;
    --color-nav: #1B3334;
    --color-text: white;
}

html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-body);
    text-align: center;
    overflow-y: hidden;
    overflow-X: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

.container_tchat {
  flex: 1;
  max-width: 80vw;
  display: flex;
  flex-direction: column; /* Ajout de flex-direction */
  height: 100vh;
}

.top_bar {
  text-align: left;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
}

.connexion_badge {
  position: relative;
  top: -44px;
  left: 20px;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

h3 {
  position: relative;
  width: min-content;
  left: 60px;
  top: -5px;
}

.connexion_error_pic {
  position: absolute;
  top: 15px;
  width: 20px;
  height: 20px;
  right: 18px;
}

.server_error_pic {
  position: absolute;
  top: 15px;
  width: 20px;
  height: 20px;
  right: 18px;
}

.message_form {
  width: 100%;
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: row;
}

.message_form_container {
  min-height: 60px;
  max-height: 40%;
}

.message_input {
  font-family: 'Times New Roman', Times, sans-serif;
  caret-color: #C3C3C3;
  font-size: 15px;
  color: white;
  background-color: transparent;
  border: 1px solid #9b9b9b;
  width: 80%;
  height: calc(100% - 45px);
  resize: vertical; /* Permettre uniquement le redimensionnement vertical */
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  border-radius: 10px;
}

.submit {
  color: white;
  background-color: transparent;
  border: 1px solid #9b9b9b;
  padding: 10px;
  margin: 10px;
  margin-left: 5px;
  border-radius: 10px;
}

.delete {
  background-image: url('./image/icon/trash.svg');
  background-color: transparent;
  border: 2px solid #dc3545;
  outline: none;
  box-shadow: none;
  padding-inline: 30px;
  margin: 10px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.search_friend_button {
  background-size: 40%;
  border: none;
  outline: none;
  box-shadow: none;
  padding-inline: 30px;
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.div_friend_list {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 20vw;
  padding-inline: 10px;
  height: 100vh;
  background-color: #292929;
}

.friend_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.friend_a {
  margin: 10px 0;
  border: 1px solid #ccc;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: white;
  background-color: rgba(41, 41, 41, 0.5);
  transition: all 0.35s ease;
}

.friend_a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

.friend span {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.tchat {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* Style des messages */
.message {
  backdrop-filter: blur(3px);
  /* Flou gaussien appliqué à l'arrière-plan */
  font-size: 15px;
  padding: 15px;
  margin: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: white;
  overflow-wrap: break-word;
  align-items: center;
  width: max-content;
  max-width: calc(100% - 100px);
  box-sizing: border-box;
}

.message p {
  white-space: pre-wrap;
  margin: 0;
}

/* Style des messages de l'utilisateur */
.user-message {
  border-radius: 20px 20px 1px 20px;
  text-align: right;
  margin-left: auto;
  background-color: rgba(31, 31, 31, 0.5);
}

.other-message {
  border-radius: 20px 20px 20px 1px;
  text-align: left;
  margin-right: auto;
  background-color: rgba(77, 77, 77, 0.5);
}

.sending_pic {
  user-select: none;
}

.error_sending_pic {
  user-select: none;
}


.warn-tchat {
  user-select: none;
  height: 100%;
  width: 100%;
  text-align: center;
}

.warn-tchat img {
  margin-top: 30vh;
  height: 20%;
}

.warn-tchat h3 {
  margin-top: 5vh;
  position: relative;
  width: 100%;
  font-size: 2vw;
  left: 0px;
  top: 0px;
}

.no-tchat h3 {
  color: #bb9457;
}

.error-tchat h3 {
  color: #dc3545;
}

.tchat-delimiter {
  background-color: rgba(54, 54, 54, 0.5);
  border-radius: 20px 20px 20px 20px;
}

.sending {
  background-image: linear-gradient(to right, rgba(8, 8, 8, 0.5), rgba(88, 88, 88, 0.5));
  background-size: 200% 100%;
  animation: wave 0.8s ease infinite;
}

.error-sending {
  border-radius: 20px 20px 1px 20px;
  text-align: right;
  background-color: rgba(65, 5, 5, 0.5);
}

/* Style des messages de l'utilisateur */
.error-message {
  border-radius: 20px;
  text-align: center;
  background-color: rgba(36, 3, 3, 0.5);
  margin-bottom: 5px;
}

.delete_button {
  position: absolute;
  display: none;
  top: 4px;
  right: calc(100% + 10px);
  background-color: transparent;
  border: 2px solid #dc3545;
  outline: none;
  box-shadow: none;
  padding: 10px;
  color: #dc3545;
  border-radius: 10px;
}

.color_badge {
  border-radius: 50px;
  display: inline-block;
  margin-left: 5px;
  margin: 5px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.top_bar,
.tchat,
.message_form,
.div_friend_list {
  transition: background-color 0.7s ease; /* Durée de la transition et fonction de minutage */
}